@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f3f4f6;
}

.iti__search-input{
    padding-left: 15px;
}
.iti__search-input:focus-visible{
    border: 1px solid #000;
    outline: none;
}

/*div#{:id}_wrapper.simple-typeahead*/
/*    input#{:id}.simple-typeahead-input*/
/*    div.simple-typeahead-list*/
/*        .simple-typeahead-list-header*/
/*        .simple-typeahead-list-item &.simple-typeahead-list-item-active*/
/*            .simple-typeahead-list-item-text*/
/*        .simple-typeahead-list-footer*/

.simple-typeahead{
    @apply relative w-full;
}

.simple-typeahead .simple-typeahead-list{
    @apply shadow-2xl rounded-2xl border border-gray-300 text-lg absolute w-full z-10 bg-white;
    max-height: 400px;
    overflow-y: auto;
}
.simple-typeahead-list-item {
    @apply cursor-pointer px-3 py-1;
}
.simple-typeahead-list-item-active:first-child{
    @apply rounded-t-2xl;
}
.simple-typeahead-list-item-active:last-child{
    @apply rounded-b-2xl;
}
.simple-typeahead-list-item-active{
    @apply bg-gray-200;
}